/dts-v1/;
/plugin/;

/ {
  compatible = "allwinner,sun50i-h5";

	fragment@0 {
		target-path = "/aliases";
		__overlay__ {
			i2c0 = "/soc/i2c@01c2ac00";
		};
	};

	fragment@1 {
		target = <&i2c0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
      		status = "okay";

		    at24@50 {
		   		compatible = "atmel,24c128";
		    	pagesize = <64>;
		    	reg = <0x50>;
		    };

    		rgbleds: pca9633@62 {
	    		compatible = "nxp,pca9633";
	    		#address-cells = <1>;
	    		#size-cells = <0>;
	    		reg = <0x62>;

	      	led0@0 {
	    			label = "red";
	    			reg = <0>;
	      		};
	    		led1@1 {
	    			label = "green";
	    			reg = <1>;
	      		};
	    		led2@2 {
	    			label = "blue";
	    			reg = <2>;
	    		};
	    		led3@3 {
	    			label = "white";
	    			reg = <3>;
	    			linux,default-trigger = "default-on";
	    		};
	    	};
		};
	};
};
